{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Indicator{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link rel ="icon" href="{% static 'web_indicator/images/favicon.ico' %}" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="{% static 'web_indicator/css/site.css' %}"/>

  <!-- Hide Alpine.js elements until ready (prevents flash of unstyled content) -->
  <style>[x-cloak] { display: none !important; }</style>

    {% block additional_head_content %}
    {% endblock %}

</head>
<body>
    <div class="page-wrapper">
        <h1>
            <img src="{% static 'web_indicator/images/logo.png' %}">
            CWRUbotix MATE ROV Status Indicator
        </h1>
        <div id="nav-links">
            <a href="{% url 'web_indicator:index' %}">Home</a>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-link">Logout</button>
                </form>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <div id="outer-pane">
            {% block content %}
            <p>Content Goes Here.</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
